html,body{position: relative;height: 100%;}
body,ul,li,p{padding:0; margin:0;}
ul,li{list-style:none;}
a{text-decoration:underline;}
img{max-width:100%;}
i{font-style:inherit;}
body{background: #fff;font-size: 13px;color:#383838; min-width:320px; background:url(../images/body-bg.jpg) no-repeat center; background-size:100% 100%; background-attachment:fixed;}
.childBody{background:#fff;}
.WhiteBg{padding:15px; background:#fff;}
.paragraph{margin-top:15px;}
.whiteBg{background:#fff;}
.swiper-wrapper{background:none;}
.swiper-arrow{position:absolute; bottom:8px; left:50%; z-index:999; margin-left:-10px; display:none; width:20px; height:20px; background:url(../images/arrow.png) no-repeat center; background-size:contain;}
.swiper-container{width: 100%;height: 100%;margin-left:auto;margin-right: auto;}
.swiper-slide {text-align: center;font-size: 16px;background: #fff;display: -webkit-box;display: -ms-flexbox;isplay: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center; background:none;}
/*.swiper-slide:before{content:""; display:inline-block; width:0; height:100%; vertical-align:middle;}*/
.swiper-slide-cont{visibility:hidden; /*display:inline-block;*/ padding:40px; max-width:1024px; width:100%; vertical-align:middle; -webkit-box-sizing:border-box; box-sizing:border-box;}
.swiper-slide-cont span{display:block; margin-bottom:15px; opacity:0;}
.swiper-slide-active .swiper-slide-cont{visibility:visible;}
/***slide1***/
.pImage{display:inline-block !important; margin:auto; margin-bottom:25px; width:280px; height:280px; overflow:hidden; border-radius:50%; border:3px solid #fff; box-shadow:0 0 6px #bacfec;display:inline-block; vertical-align:middle;}
.pInfo{display:inline-block; padding:20px; margin-left:30px; vertical-align:middle; text-align:left; color:#fff;}
.pInfo i{display:inline-block; padding-left:30px; width:auto; line-height:25px; background:url(../images/pLogo.png) no-repeat;}
.pInfo .pName i{display:inline-block; padding-left:0; padding-right:10px; font-size:24px; background:none;}
.pTel i{background-position:left top;}
.pQQ i{background-position:left -33px;}
.pGitHub i{background-position:left -68px;}
.pGitHub a{color:#fff;}
.swiper-slide-active .pImage{-webkit-animation:fadeIn .5s; -moz-animation:fadeIn .5s; animation:fadeIn .5s; -webkit-animation-fill-mode:forwards; -moz-animation-fill-mode:forwards; animation-fill-mode:forwards;}
.swiper-slide-active .pName{-webkit-animation:fadeIn .5s .3s; -moz-animation:fadeIn .5s .3s; animation:fadeIn .5s .3s; -webkit-animation-fill-mode:forwards; -moz-animation-fill-mode:forwards; animation-fill-mode:forwards;}
.swiper-slide-active .pTel{-webkit-animation:fadeIn .5s .6s; -moz-animation:fadeIn .5s .6s; animation:fadeIn .5s .6s; -webkit-animation-fill-mode:forwards; -moz-animation-fill-mode:forwards; animation-fill-mode:forwards;}
.swiper-slide-active .pQQ{-webkit-animation:fadeIn .5s .9s; -moz-animation:fadeIn .5s .9s; animation:fadeIn .5s .9s; -webkit-animation-fill-mode:forwards; -moz-animation-fill-mode:forwards; animation-fill-mode:forwards;}
.swiper-slide-active .pGitHub{-webkit-animation:fadeIn .5s 1.2s; -moz-animation:fadeIn .5s 1.2s; animation:fadeIn .5s 1.2s; -webkit-animation-fill-mode:forwards; -moz-animation-fill-mode:forwards; animation-fill-mode:forwards;}

/***slide2***/
.swiper-slide h1{font-weight:normal; font-size:24px; color:#383838;}
.skill_logo{position:relative; height:204px; width:236px; margin:auto; margin-top:40px; margin-bottom:50px; opacity: 0}
.skill_logo img{margin-bottom:0; width: 100%;}
.animation-bg{text-align:left;}
.skill{padding:0 15px;}
.skill p{position:relative; margin-bottom:20px; width:100%;}
.skill span{height:16px; margin-bottom:10px;}
.skill .light{position:absolute; z-index:11; left:0; top:0;}
.skill .light i{display:block; height:100%; width:0; background:#26bcdc;}
.skill .gray{background:#eee;}
.skill .html_employ{width:85%;}
.skill .css_employ{width:85%;}
.skill .js_employ{width:70%;}
.skill .jq_employ{width:70%;}
.skill .vue_employ{width:50%;}
.skill .react_employ{width:45%;}
.skill .node_employ{width:30%;}
.skill .php_employ{width:30%;}
.skill .ps_employ{width:60%;}
.swiper-slide-active .opacity{-webkit-animation:scaleIn .6s; -moz-animation:scaleIn .6s; animation:scaleIn .6s; -webkit-animation-fill-mode:forwards; -moz-animation-fill-mode:forwards; animation-fill-mode:forwards;}
.swiper-slide-active .skill_logo{-webkit-animation:fadeIn 1s .5s; -moz-animation:fadeIn 1s .5s; animation:fadeIn 1s .5s; -webkit-animation-fill-mode:forwards; -moz-animation-fill-mode:forwards; animation-fill-mode:forwards;}
.swiper-slide-active .skill span{-webkit-animation:fadeIn 1s .8s; -moz-animation:fadeIn 1s .8s; animation:fadeIn 1s .8s; -webkit-animation-fill-mode:forwards; -moz-animation-fill-mode:forwards; animation-fill-mode:forwards;}
.swiper-slide-active .light i{-webkit-animation:slideInLeft 1s 1.3s; -moz-animation:slideInLeft 1s 1.3s; animation:slideInLeft 1s 1.3s; -webkit-animation-fill-mode:forwards; -moz-animation-fill-mode:forwards; animation-fill-mode:forwards;}
/*.swiper-slide-active .css_employ{-webkit-animation:css_employ 4.5s; -moz-animation:css_employ 4.5s; animation:css_employ 4.5s;}
.swiper-slide-active .js_employ{-webkit-animation:js_employ 4.5s; -moz-animation:js_employ 4.5s; animation:js_employ 4.5s;}
.swiper-slide-active .php_employ{-webkit-animation:php_employ 4.5s; -moz-animation:php_employ 4.5s; animation:php_employ 4.5s;}
.swiper-slide-active .ps_employ{-webkit-animation:ps_employ 4.5s; -moz-animation:ps_employ 4.5s; animation:ps_employ 4.5s;}
*/

/***slide3***/
.project{padding:0 10px; margin-bottom:20px;}
.project h1{margin-top: 5px; margin-bottom: 10px;}
.project h1 a{font-size:16px; color:#6CF; cursor:pointer;}
.project p{font-size:14px; line-height:20px;}
.swiper-slide-cont3 .animation-bg2{opacity:0;}
.swiper-slide-active .animation-bg2{-webkit-animation:fadeIn 2s .5s; -moz-animation:fadeIn 2s .5s; animation:fadeIn 2s .5s; -webkit-animation-fill-mode:forwards; -moz-animation-fill-mode:forwards; animation-fill-mode:forwards;}

/***示例页面***/
.example-body{background: none;}

@media(max-width:1440px){
.skill_logo{display: none;}
}

@media(max-width:767px){
body{background:#fff;}
.pInfo,.pGitHub a,.swiper-slide-cont2 h1{color:#383838;}
.pInfo i{background:url(../images/pLogo1.png) no-repeat;}
.pTel i{background-position:left top;}
.pQQ i{background-position:left -33px;}
.pGitHub i{background-position:left -68px;}
.swiper-slide {font-size:14px;}
.swiper-slide-cont p{margin-bottom:10px;}
.swiper-slide-cont{padding:15px;}
.swiper-pagination{display:none;}
.swiper-arrow{display:block;}
.pInfo{display:block; padding:0; margin-left:0; text-align:center;}
.project{margin-bottom:10px;}
.hidden{display:none;}

/***slide2***/
.skill_logo{display:block; margin-top:10px; margin-bottom:20px;}
.html_logo{margin-left:-25px;}
.html_logo,.css_logo,.jq_logo,.ps_logo,.js_logo{height:50px; width:50px;}
.php_logo{margin-left:-50px; height:70px; width:100px;}
.skill p{margin-bottom:10px;}
.skill span{height:12px; margin-bottom:8px;}

/***slide3***/
.my-order{display:none;}
}

/**动画css**/
@-webkit-keyframes fadeIn{
  0%{opacity:0;}
  100%{opacity:1;}
}
@keyframes fadeIn{
  0%{opacity:0;}
  100%{opacity:1;}
}

@-webkit-keyframes slideInLeft{
  0%{width:0;}
  100%{width:100%;}
}
@keyframes slideInLeft{
  0%{width:0;}
  100%{width:100%;}
}

@-webkit-keyframes scaleIn{
  0%{opacity:0;-webkit-transform:scale(0); -moz-transform:scale(0); transform:scale(0);}
  100%{opacity:1;-webkit-transform:scale(1); -moz-transform:scale(1); transform:scale(1);}
}
@keyframes scaleIn{
  0%{opacity:0;-webkit-transform:scale(0); -moz-transform:scale(0); transform:scale(0);}
  100%{opacity:1;-webkit-transform:scale(1); -moz-transform:scale(1); transform:scale(1);}
}

/**弹窗内容**/
.alertTip{display:none; position:fixed; z-index:999; top:0; left:0; width:100%; height:100%; text-align:center; background:rgba(0,0,0,.5);}
.alertTip:before{content:""; display:inline-block; vertical-align:middle; height:100%; width:0;}
.alert{display:none;}
.alertCont{position:relative; padding:25px; display:inline-block; min-width:270px; max-width: 80%; vertical-align:middle; background:#fff; border-radius:3px;}
.alertCont .close{position:absolute; top:5px; right:5px; width:20px; height:20px; background:url(../images/close.png) no-repeat center; cursor:pointer;}
.alertCont .paragraph{text-align:left; line-height:1.5;}
.alertCont .paragraph .example{color:#6CF;}
.alertCont .link{color:#333; font-size:14px;}
